<script type="text/x-red" data-template-name="Message">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="message.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]message.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-pencil-square-o"></i>  <span data-i18n="message.label.title"></span></label>
    <input type="text" id="node-input-title" data-i18n="[placeholder]message.placeholder.title" />
  </div>
  <div class="form-row">
    <label for="node-input-body"><i class="fa fa-paragraph"></i>  <span data-i18n="message.label.body"></span></label>
    <input type="text" id="node-input-body" data-i18n="[placeholder]message.placeholder.body" />
  </div>
  <div class="form-row">
    <label for="node-input-size"><i class="fa fa-arrows-h"></i>  <span data-i18n="message.label.size"></span></label>
    <select id="node-input-size" style="width:150px;">
      <option value="mini">mini</option>
      <option value="tiny">tiny</option>
      <option value="small">small</option>
      <option value="large">large</option>
      <option value="big">big</option>
      <option value="huge">huge</option>
      <option value="massive">massive</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-style"><i class="fa fa-tags"></i>  <span data-i18n="message.label.style"></span></label>
    <select id="node-input-style" style="width:150px;">
      <option value="">standard</option>
      <option value="info">info</option>
      <option value="success">success</option>
      <option value="warning">warning</option>
      <option value="error">error</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-color"><i class="fa fa-paint-brush"></i>  <span data-i18n="message.label.color"></span></label>
    <select id="node-input-color" style="width:150px;">
      <option value="">standard</option>
      <option value="red">red</option>
      <option value="orange">orange</option>
      <option value="yellow">yellow</option>
      <option value="olive">olive</option>
      <option value="green">green</option>
      <option value="teal">teal</option>
      <option value="blue">blue</option>
      <option value="violet">violet</option>
      <option value="purple">purple</option>
      <option value="pink">pink</option>
      <option value="brown">brown</option>
      <option value="grey">grey</option>
      <option value="black">black</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-textAlign"><i class="fa fa-align-left"></i>  <span data-i18n="message.label.textAlign"></span></label>
    <select id="node-input-textAlign" style="width:150px;">
      <option value="left">left</option>
      <option value="center">center</option>
      <option value="right">right</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-icon"><i class="fa fa-th-large"></i>  <span data-i18n="message.label.icon"></span></label>
    <input type="text" id="node-input-icon" data-i18n="[placeholder]message.placeholder.icon"/>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-loading" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-loading" style="width: 300px">
      <span data-i18n="message.label.loading"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-hidden" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-hidden" style="width: 300px">
      <span data-i18n="message.label.hidden"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Message">
  <p>Jared UIComponents - Message</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of message </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Message', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      title: { value: '' },
      body: { value: '' },
      size: { value: 'large' },
      style: { value: '' },
      color: { value: '' },
      textAlign: { value: 'left' },
      icon: { value: '' },
      loading: { value: false },
      hidden: { value: false },
    },
    color: '#88D7EE',
    icon: 'message.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Message';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
