<script type="text/x-red" data-template-name="DSOScreen">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="dsoscreen.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]dsoscreen.placeholder.name" />
  </div>
</script>

<script type="text/x-red" data-help-name="DSOScreen">
  <p>Jared Instruments - DSOScreen</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of dso screen </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('DSOScreen', {
    category: 'Jared Instruments',
    defaults: {
      name: { value: '', required: true },
    },
    color: '#FFA500',
    icon: 'dsoscreen.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'DSO Screen';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    }
  });
</script>
