<script type="text/x-red" data-template-name="TrendChart">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width: 140px;"><i class="fa fa-tag"></i>  <span data-i18n="trendchart.label.name"></span></label>
    <input type="text" id="node-input-name" style="width: 68%;" data-i18n="[placeholder]trendchart.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-backgroundColor" style="width: 140px;"><i class="fa fa-paint-brush"></i> <span data-i18n="trendchart.label.backgroundColor"></span></label>
    <input type="text" id="node-input-backgroundColor" style="width: 68%;" data-i18n="[placeholder]trendchart.placeholder.backgroundColor">
  </div>
  <br/>

  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="trendchart.label.xAxisConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="trendchart.label.xAxisMaxDisplayLength"></span>: <input type="text" id="node-input-xAxisMaxDisplayLength" data-i18n="[placeholder]trendchart.placeholder.xAxisMaxDisplayLength" style="width:100px;"/>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="trendchart.label.xAxisTimeTickFormat"></span>:
    <select id="node-input-xAxisTimeTickFormat" style="width:150px;">
      <option value="mm:ss">mm:ss</option>
      <option value="hh:mm">hh:mm</option>
      <option value="hh:mm:ss">hh:mm:ss</option>
      <option value="DD">DD</option>
      <option value="MM">MM</option>
      <option value="YYYY">YYYY</option>
      <option value="MM/DD">MM/DD</option>
      <option value="YYYY/MM">YYYY/MM</option>
      <option value="YYYY/MM/DD">YYYY/MM/DD</option>
      <option value="YYYY/MM/DD hh:mm">YYYY/MM/DD hh:mm</option>
      <option value="YYYY/MM/DD hh:mm:ss">YYYY/MM/DD hh:mm:ss</option>
    </select>
  </div>

  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="trendchart.label.yAxisConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="trendchart.label.yAxisName"></span>: <input type="text" id="node-input-yAxisName" data-i18n="[placeholder]trendchart.placeholder.yAxisName" style="width:150px;"/>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="trendchart.label.yAxisUnit"></span>: <input type="text" id="node-input-yAxisUnit" data-i18n="[placeholder]trendchart.placeholder.yAxisUnit" style="width:150px;"/>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-useMetricPrefix" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-useMetricPrefix" style="width:400px;">
      <span data-i18n="trendchart.label.useMetricPrefix"></span>
      <span data-i18n="trendchart.label.useMetricPrefixExample"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showAxisLabel" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showAxisLabel">
      <span data-i18n="trendchart.label.showAxisLabel"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="TrendChart">
  <p>Jared Charts - Trend Chart</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of trend chart </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('TrendChart', {
    category: 'Jared Charts',
    defaults: {
      jcid: { value: '' },
      name: { value: '', required: true },
      backgroundColor: { value: 'white' },
      xAxisMaxDisplayLength: { value: 100, required: true, validate: RED.validators.number() },
      xAxisTimeTickFormat: { value: 'hh:mm:ss', required: true },
      yAxisName: { value: '' },
      yAxisUnit: { value: '' },
      useMetricPrefix: { value: false },
      showAxisLabel: { value: true },
    },
    color: '#5599FF',
    icon: 'trendchart.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Trend Chart';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
