<script type="text/x-red" data-template-name="Input">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="input.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]input.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-defaultValue"><i class="fa fa-pencil-square-o"></i>  <span data-i18n="input.label.defaultValue"></span></label>
    <input type="text" id="node-input-defaultValue" data-i18n="[placeholder]input.placeholder.defaultValue" />
  </div>
  <div class="form-row">
    <label for="node-input-placeholder"><i class="fa fa-header"></i>  <span data-i18n="input.label.placeholder"></span></label>
    <input type="text" id="node-input-placeholder" data-i18n="[placeholder]input.placeholder.placeholder" />
  </div>
  <div class="form-row">
    <label for="node-input-size"><i class="fa fa-arrows-h"></i>  <span data-i18n="input.label.size"></span></label>
    <select id="node-input-size" style="width:150px;">
      <option value="tiny">tiny</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="huge">huge</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-textAlign"><i class="fa fa-align-left"></i>  <span data-i18n="input.label.textAlign"></span></label>
    <select id="node-input-textAlign" style="width:150px;">
      <option value="left">left</option>
      <option value="center">center</option>
      <option value="right">right</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-inputType"><i class="fa fa-tags"></i>  <span data-i18n="input.label.inputType"></span></label>
    <select id="node-input-inputType" style="width:150px;">
      <option value="text">Text</option>
      <option value="date">Date</option>
      <option value="time">Time</option>
      <option value="datetime">Date & Time</option>
      <option value="file">File</option>
      <option value="hidden">Hidden</option>
      <option value="number">Number</option>
      <option value="password">Password</option>
      <option value="submit">Submit</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-min"><i class="fa fa-minus-square"></i>  <span data-i18n="input.label.min"></span></label>
    <input type="text" id="node-input-min" data-i18n="[placeholder]input.placeholder.min" />
  </div>
  <div class="form-row">
    <label for="node-input-max"><i class="fa fa-plus-square"></i>  <span data-i18n="input.label.max"></span></label>
    <input type="text" id="node-input-max" data-i18n="[placeholder]input.placeholder.max" />
  </div>
  <div class="form-row">
    <label for="node-input-step"><i class="fa fa-plus"></i>  <span data-i18n="input.label.step"></span></label>
    <input type="text" id="node-input-step" data-i18n="[placeholder]input.placeholder.step" />
  </div>
  <div class="form-row">
    <label for="node-input-icon"><i class="fa fa-th-large"></i>  <span data-i18n="input.label.icon"></span></label>
    <input type="text" id="node-input-icon" data-i18n="[placeholder]input.placeholder.icon" />
  </div>
  <div class="form-row">
    <label for="node-input-iconPosition"><i class="fa fa-outdent"></i>  <span data-i18n="input.label.iconPosition"></span></label>
    <select id="node-input-iconPosition" style="width:150px;">
      <option value="left">Left</option>
      <option value="right">Right</option>
    </select>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-disabled" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-disabled" style="width: 300px">
      <span data-i18n="input.label.disabled"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Input">
  <p>Jared UIComponents - Input</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of input </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Input', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      defaultValue: { value: '' },
      placeholder: { value: '' },
      size: { value: 'medium' },
      textAlign: { value: 'right' },
      inputType: { value: 'text' },
      min: { value: '' },
      max: { value: '' },
      step: { value: 1 },
      icon: { value: '' },
      iconPosition: { value: 'left' },
      disabled: { value: false },
    },
    color: '#EEDFCC',
    icon: 'input.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Text Input';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
