<script type="text/x-red" data-template-name="Label">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="label.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]label.placeholder.name">
  </div>
  <div class="form-row">
    <label for="node-input-text"><i class="fa fa-pencil-square-o"></i> <span data-i18n="label.label.text"></span></label>
    <input type="text" id="node-input-text" data-i18n="[placeholder]label.placeholder.text">
  </div>
  <div class="form-row">
    <label for="node-input-size"><i class="fa fa-arrows-h"></i>  <span data-i18n="label.label.size"></span></label>
    <select id="node-input-size" style="width:150px;">
      <option value="mini">mini</option>
      <option value="tiny">tiny</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="big">big</option>
      <option value="huge">huge</option>
      <option value="massive">massive</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-color"><i class="fa fa-paint-brush"></i>  <span data-i18n="label.label.color"></span></label>
    <select id="node-input-color" style="width:150px;">
      <option value="">standard</option>
      <option value="red">red</option>
      <option value="orange">orange</option>
      <option value="yellow">yellow</option>
      <option value="olive">olive</option>
      <option value="green">green</option>
      <option value="teal">teal</option>
      <option value="blue">blue</option>
      <option value="violet">violet</option>
      <option value="purple">purple</option>
      <option value="pink">pink</option>
      <option value="brown">brown</option>
      <option value="grey">grey</option>
      <option value="black">black</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-textAlign"><i class="fa fa-align-left"></i>  <span data-i18n="label.label.textAlign"></span></label>
    <select id="node-input-textAlign" style="width:150px;">
      <option value="left">left</option>
      <option value="center">center</option>
      <option value="right">right</option>
    </select>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-plaintext" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-plaintext">
      <span data-i18n="label.label.plaintext"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-basic" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-basic">
      <span data-i18n="label.label.basic"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-circular" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-circular">
      <span data-i18n="label.label.circular"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Label">
  <p>Jared UIComponents - Label</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of label </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Label', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      text: { value: '' },
      size: { value: 'medium' },
      color: { value: '' },
      textAlign: { value: 'left' },
      plaintext: { value: true },
      basic: { value: false },
      circular: { value: false },
    },
    color: '#EEEE99',
    icon: 'label.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Label';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
