<script type="text/x-red" data-template-name="Panel">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width: 140px;"><i class="fa fa-tag"></i> <span data-i18n="panel.label.name"></span></label>
    <input type="text" id="node-input-name" style="width: 68%;" data-i18n="[placeholder]panel.placeholder.name">
  </div>
  <div class="form-tips" style="margin-bottom: 12px; display: none;" id="panel-name-already-taken">
    <span data-i18n="panel.tip.nameAlreadyTaken"></span>
  </div>
  <div class="form-row">
    <label for="node-input-route" style="width: 140px;"><i class="fa fa-globe"></i> <span data-i18n="panel.label.route"></span></label>
    <input type="text" id="node-input-route" style="width: 68%;" data-i18n="[placeholder]panel.placeholder.route">
  </div>
  <div class="form-row">
    <label for="node-input-backgroundColor" style="width: 140px;"><i class="fa fa-paint-brush"></i> <span data-i18n="panel.label.backgroundColor"></span></label>
    <input type="text" id="node-input-backgroundColor" style="width: 68%;" data-i18n="[placeholder]panel.placeholder.backgroundColor">
  </div>
  <div class="form-row">
    <label for="node-input-zIndex" style="width: 140px;"><i class="fa fa-sort"></i> <span data-i18n="panel.label.zIndex"></span></label>
    <input type="number" id="node-input-zIndex" style="width: 68%;" data-i18n="[placeholder]panel.placeholder.zIndex">
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-portal" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-portal" style="width: 300px">
      <span data-i18n="panel.label.portal"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showBorder" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showBorder" style="width: 300px">
      <span data-i18n="panel.label.showBorder"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Panel">
  <p>Jared UIComponents - Panel</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of panel </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Panel', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '', required: true, validate: function(v) {
        let count = 0
        RED.nodes.eachNode((node) => {
          if (count < 2 && node.type === 'Panel') {
            if (node.name === v) {
              ++count
            }
          }
        })

        const isTaken = count > 1

        if (isTaken) {
          $("#panel-name-already-taken").show()
        } else {
          $("#panel-name-already-taken").hide()
        }

        return !isTaken
      }},
      route: { value: '' },
      backgroundColor: { value: '' },
      zIndex: { value: '' },
      portal: { value: false },
      showBorder: { value: false },
    },
    color: '#FFD700',
    icon: 'panel.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      let label = this.name || 'Panel';
      if (this.route) label += ` (${this.route})`;
      return label;
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
