<script type="text/x-red" data-template-name="EventSource">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="eventsource.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]eventsource.placeholder.name">
  </div>
  <div class="form-row">
    <label for="node-input-event"><i class="fa fa-asterisk"></i>  <span data-i18n="eventsource.label.event"></span></label>
    <select id="node-input-event" style="width:200px;">
      <option value="PANEL_ON_LOAD">Load routing panel</option>
      <option value="PANEL_ON_UNLOAD">Unload routing panel</option>
      <option value="LIST_ON_UPDATE_ROUTE_INDEX">Update routing panel index</option>
      <option value="USER_LOGGED_IN">User logged in</option>
      <option value="USER_LOGGED_OUT">User logged out</option>
      <option value="USER_LOGIN_FAILED">User log in failed</option>
      <option value="*">All events</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-source"><i class="fa fa-arrow-right"></i> <span data-i18n="eventsource.label.source"></span></label>
    <input type="text" id="node-input-source" data-i18n="[placeholder]eventsource.placeholder.source">
  </div>
</script>

<script type="text/x-red" data-help-name="EventSource">
  <p>Jared Core - Event Source</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of event source </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('EventSource', {
    category: 'Jared Core',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      event: { value: 'PANEL_ON_LOAD', required: true },
      source: { value: '*', required: true }
    },
    color: '#8FFF49',
    icon: 'arrow-in.png',
    inputs: 0,
    outputs: 1,
    label: function() {
      return this.name || 'Event Source';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
