<script type="text/x-red" data-template-name="Image">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="image.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]image.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-source"><i class="fa fa-picture-o"></i>  <span data-i18n="image.label.source"></span></label>
    <input type="text" id="node-input-source" data-i18n="[placeholder]image.placeholder.source" />
  </div>
</script>

<script type="text/x-red" data-help-name="Image">
  <p>Jared UIComponents - Image</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of image </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Image', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      source: { value: '', required: true }
    },
    color: '#809FFF',
    icon: 'image.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Image';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
