<script type="text/x-red" data-template-name="Dropdown">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="dropdown.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]dropdown.placeholder.name" />
  </div>
  <div class="form-row node-input-dropdown-data-row">
    <ol id="node-input-dropdown-data"></ol>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-disabled" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-disabled" style="width: 300px">
      <span data-i18n="dropdown.label.disabled"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Dropdown">
  <p>Jared UIComponents - Dropdown</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of dropdown </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Dropdown', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      items: { value: [{ text: '', value: '' }]},
      defaultValue: { value: '' },
      disabled: { value: false },
    },
    color: '#96E7D0',
    icon: 'dropdown.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Dropdown';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      const node = this

      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }

      $("#node-input-dropdown-data").css('min-height', '250px').css('min-width', '450px').editableList({
        addItem: function (row, index, data) {
          $(`<input id="node-input-dropdown-data-select${index}" type="checkbox" value="${data.value}" class="checkbox" style="width: auto; margin: 0 4px">`).appendTo(row)
          $(`<span style="margin-left: 10px">Text: </span>`).appendTo(row)
          $(`<input type="text" id="node-input-dropdown-data-text${index}" style="width: 35%" />`).appendTo(row)
          $(`<span style="margin-left: 10px">Value: </span>`).appendTo(row)
          $(`<input type="text" id="node-input-dropdown-data-value${index}" style="width: 35%" />`).appendTo(row)
          row.find(`#node-input-dropdown-data-text${index}`).val(data.text)
          row.find(`#node-input-dropdown-data-value${index}`).val(data.value)
          row.find(`#node-input-dropdown-data-select${index}`).attr('checked', node.defaultValue === data.value)

          $('div.red-ui-editableList-item-content .checkbox').click(function () {
            const checkbox = $(this)
            checkedState = checkbox.attr('checked')
            $('div.red-ui-editableList-item-content .checkbox').each(function () {
              if (!checkbox.is($(this))) {
                $(this).attr('checked', false)
              }
            })
            $(this).attr('checked', checkedState)
          })
        },
        removable: true
      })

      for (let i = 0; i < this.items.length; i++) {
        const item = this.items[i]
        $("#node-input-dropdown-data").editableList('addItem', item)
      }
    },
    oneditsave: function () {
      const node = this
      const items = $("#node-input-dropdown-data").editableList('items')
      node.items = []
      items.each(function (i) {
        const item = $(this)
        const text = item.find(`[id^=node-input-dropdown-data-text]`).val()
        const value = item.find(`[id^=node-input-dropdown-data-value]`).val()
        const checked = item.find(`[id^=node-input-dropdown-data-select]`).is(':checked')
        node.items.push({ text, value })
        if (checked) {
          node.defaultValue = value
        }
      })
    }
  });
</script>
