<script type="text/x-red" data-template-name="Knob">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width:120px;"><i class="fa fa-tag"></i>  <span data-i18n="knob.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]knob.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-min" style="width:120px;"><i class="fa fa-minus-square"></i>  <span data-i18n="knob.label.min"></span></label>
    <input type="number" id="node-input-min" data-i18n="[placeholder]knob.placeholder.min" />
  </div>
  <div class="form-row">
    <label for="node-input-max" style="width:120px;"><i class="fa fa-plus-square"></i>  <span data-i18n="knob.label.max"></span></label>
    <input type="number" id="node-input-max" data-i18n="[placeholder]knob.placeholder.max" />
  </div>
  <div class="form-row">
    <label for="node-input-step" style="width:120px;"><i class="fa fa-plus"></i>  <span data-i18n="knob.label.step"></span></label>
    <input type="number" id="node-input-step" data-i18n="[placeholder]knob.placeholder.step" />
  </div>
  <div class="form-row">
    <label for="node-input-decimalDigits" style="width:120px;"><i class="fa fa-hashtag"></i>  <span data-i18n="knob.label.decimalDigits"></span></label>
    <input type="number" min="0" max="5" id="node-input-decimalDigits" data-i18n="[placeholder]knob.placeholder.decimalDigits" />
  </div>
  <div class="form-row">
    <label for="node-input-throttle" style="width:120px;"><i class="fa fa-clock-o"></i>  <span data-i18n="knob.label.throttle"></span></label>
    <input type="number" min="0" id="node-input-throttle" style="width:290px;" data-i18n="[placeholder]knob.placeholder.throttle" /><span style="padding-left:10px;">ms</span>
  </div>
  <div class="form-row">
    <label for="node-input-dataSet" style="width:120px;"><i class="fa fa-tags"></i>  <span data-i18n="knob.label.dataSet"></span></label>
    <input type="text" id="node-input-dataSet" data-i18n="[placeholder]knob.placeholder.dataSet" />
  </div>
  <div class="form-row">
    <label for="node-input-defaultValue" style="width:120px;"><i class="fa fa-tag"></i>  <span data-i18n="knob.label.defaultValue"></span></label>
    <input type="number" id="node-input-defaultValue" data-i18n="[placeholder]knob.placeholder.defaultValue" />
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-displayValue" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-displayValue" style="width: 300px">
      <span data-i18n="knob.label.displayValue"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-displayValue" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-displayValue" style="width: 300px">
      <span data-i18n="knob.label.displayValue"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Knob">
  <p>Jared UIComponents - Knob</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of knob </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Knob', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      min: { value: 0 },
      max: { value: 100 },
      step: { value: 1 },
      decimalDigits: { value: 0 },
      throttle: { value: 500 },
      defaultValue: { value: 0 },
      displayValue: { value: true },
      dataSet: { value: '' }
    },
    color: '#fcbfb0',
    icon: 'knob.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Knob';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
