<script type="text/x-red" data-template-name="Checkbox">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="checkbox.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]checkbox.placeholder.name" />
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-checked" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-checked">
      <span data-i18n="checkbox.label.checked"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-disabled" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-disabled" style="width: 300px">
      <span data-i18n="checkbox.label.disabled"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Checkbox">
  <p>Jared UIComponents - Checkbox/Switch</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of checkbox/switch </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Checkbox', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      checked: { value: false },
      disabled: { value: false },
    },
    color: '#7CCA58',
    icon: 'checkbox.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Checkbox';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
