<script type="text/x-red" data-template-name="LineChart">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width: 140px;"><i class="fa fa-tag"></i>  <span data-i18n="linechart.label.name"></span></label>
    <input type="text" id="node-input-name" style="width: 68%;" data-i18n="[placeholder]linechart.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-backgroundColor" style="width: 140px;"><i class="fa fa-paint-brush"></i> <span data-i18n="linechart.label.backgroundColor"></span></label>
    <input type="text" id="node-input-backgroundColor" style="width: 68%;" data-i18n="[placeholder]linechart.placeholder.backgroundColor">
  </div>
  <br/>

  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="linechart.label.xAxisConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <input type="checkbox" id="node-input-showXAxis" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showXAxis">
      <span data-i18n="linechart.label.showXAxis"></span>
    </label>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="linechart.label.xAxisDataKey"></span>: <input type="text" id="node-input-xAxisDataKey" data-i18n="[placeholder]linechart.placeholder.xAxisDataKey" style="width:100px;"/>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="linechart.label.xAxisUnit"></span>: <input type="text" id="node-input-xAxisUnit" data-i18n="[placeholder]linechart.placeholder.xAxisUnit" style="width:100px;"/>
  </div>

  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="linechart.label.yAxisConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <input type="checkbox" id="node-input-showYAxis" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showYAxis">
      <span data-i18n="linechart.label.showYAxis"></span>
    </label>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="linechart.label.yAxisUnit"></span>: <input type="text" id="node-input-yAxisUnit" data-i18n="[placeholder]linechart.placeholder.yAxisUnit" style="width:100px;"/>
  </div>

  <div class="form-row">
    <input type="checkbox" id="node-input-showAxisLabel" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showAxisLabel" style="width:200px;">
      <span data-i18n="linechart.label.showAxisLabel"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showCartesianGrid" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showCartesianGrid" style="width:200px;">
      <span data-i18n="linechart.label.showCartesianGrid"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showTooltip" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showTooltip" style="width:200px;">
      <span data-i18n="linechart.label.showTooltip"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showLegend" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showLegend" style="width:200px;">
      <span data-i18n="linechart.label.showLegend"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="LineChart">
  <p>Jared Charts - Line Chart</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of line chart </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('LineChart', {
    category: 'Jared Charts',
    defaults: {
      jcid: { value: '' },
      name: { value: '', required: true },
      backgroundColor: { value: 'white' },
      xAxisDataKey: { value: '' },
      xAxisUnit: { value: '' },
      yAxisUnit: { value: '' },
      showXAxis: { value: true },
      showYAxis: { value: true },
      showAxisLabel: { value: true },
      showCartesianGrid: { value: true },
      showTooltip: { value: true },
      showLegend: { value: true },
    },
    color: '#5599FF',
    icon: 'linechart.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Line Chart';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
