<script type="text/x-red" data-template-name="Signal Generator">
  <div class="form-row">
    <div class="form-row">
      <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="signalgenerator.label.name"></span></label>
      <input type="text" id="node-input-name" data-i18n="[placeholder]signalgenerator.placeholder.name" />
    </div>
    <label for="node-input-sigtype"><i class="fa fa-tags"></i> <span data-i18n="signalgenerator.label.sigtype"></span></label>
    <select type="text" id="node-input-sigtype">
      <option value="square">Square Wave</option>
    </select>
  </div>
  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="signalgenerator.label.sigcfg"></span>:</div>
  <div class="form-row">
    <label for="node-input-siglen"></label>
    <span data-i18n="signalgenerator.label.siglen"></span>: <input type="text" id="node-input-siglen" data-i18n="[placeholder]signalgenerator.placeholder.siglen" style="width:200px;">
  </div>
  <div class="form-row">
    <label for="node-input-sigoffs"></label>
    <span data-i18n="signalgenerator.label.sigoffs"></span>: <input type="text" id="node-input-sigoffs" data-i18n="[placeholder]signalgenerator.placeholder.sigoffs" style="width:200px;">
  </div>
  <div class="form-row">
    <label for="node-input-sighdr_vscale"></label>
    <span data-i18n="signalgenerator.label.sighdr_vscale"></span>: <input type="text" id="node-input-sighdr_vscale" data-i18n="[placeholder]signalgenerator.placeholder.sighdr_vscale" style="width:200px;">
  </div>
  <div class="form-row">
    <label for="node-input-sighdr_samplerate"></label>
    <span data-i18n="signalgenerator.label.sighdr_samplerate"></span>: <input type="text" id="node-input-sighdr_samplerate" data-i18n="[placeholder]signalgenerator.placeholder.sighdr_samplerate" style="width:200px;">
  </div>
  <div class="form-row">
    <label for="node-input-sighdr_starttime"></label>
    <span data-i18n="signalgenerator.label.sighdr_starttime"></span>: <input type="text" id="node-input-sighdr_starttime" data-i18n="[placeholder]signalgenerator.placeholder.sighdr_starttime" style="width:200px;">
  </div>
</script>

<script type="text/x-red" data-help-name="Signal Generator">
  <p>Jared Instruments - Signal Generator</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of signal generator </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Signal Generator', {
    category: 'Jared Instruments',
    defaults: {
      name: { value: '' },
      sigtype: { value: 'square', required: true },
      siglen: { value: '', required: true },
      sigoffs: { value: '0', required: true },
      sighdr_vscale: { value: '1', required: true },
      sighdr_samplerate: { value: '1', required: true },
      sighdr_starttime: { value: '0', required: true },
    },
    color: '#FFA500',
    icon: 'signalgenerator.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Singnal Generator';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    }
  });
</script>
